body{
    margin:0 ;
    }
.banner-background{
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    text-align: center;
    justify-items: center;
   
}
.banner{
    padding-top:130px;
   color: white;
    font-family: Merriweather;
    font-size: 36px;
   font-weight: 500;
}

.offer{
    text-align: center;
}
.offer-header{
    margin-bottom: 40px;
    color: #F00;
font-family: Inter;
font-size: 88px;
font-weight: 700;
}
.offer-description{
    /* margin-top: 0; */
    margin-bottom: 5px;
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.offer-categories{
margin-top: 0;
    color: #070211;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
                               /* section 2 */
.party{ 
    margin-top: 120px;
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    text-align: center;
    justify-items: center;
}
.party-container{
    display: flex;
    padding-top: 120px;
    gap: 80px;
    text-align: left;
    align-content: space-around;  
    justify-content: center;
}
.party-container-header{
    color: #fff;
    margin-bottom: 5px;
font-family: Merriweather;
width: 700px;
font-size: 64px;
font-weight: 900;
line-height: 88px; 
letter-spacing: 7.04px;
}
.party-container-description{
    margin-top: 0px;
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
width: 697px;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.party-join{
    color: #FFF;
text-align: left;
padding-left: 50px;
font-family: Inter;
font-size: 20px;
font-weight: 700;
}

                                  /* section 3 */
.event-schedule{ 
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    height: 200px;
    margin: 100px 290px;
     background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.event-timing{
    color: #F00;
}
.join-button{
    border-radius: 8px;
background: #F00;
padding: 16px 32px;
}
                                  /* section 4 */
.coming-soon{
    display: flex;justify-content: center;
    gap:70px ;
    margin: 300px 350px 50px 350px;
}
.coming-soon-offer{
    margin-top: 120px;
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 2px;
}
.coming-soon-head{
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
margin-top: 0px;
margin-bottom:5px;
}
.coming-soon-des{
    color: rgba(7, 2, 17, 0.60);  
     font-family: Inter;
   font-weight: 400;
    line-height: 32px;
    width: 393px; 
}
.coming-soon-img{
    border-radius: 463px;
    border: 15px solid #F00;
     width: 463px;
    height: 463px;
}
.coming-soon-date{
    margin-top: 130px;
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.coming-soon-des{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    ont-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 276px; 
}

.footer-part{
    background: #070211;
    height: 700px;
}
.footer-part-1{
   
    padding: 120px 80px 0 70px;
    display: flex;
    color: white;
    justify-content: space-between;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.footer-part-2{
    text-align: center;
    padding: 50px 100px;
}
.footer-part-3{
    padding: 10px 150px ;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}