body{
    margin: 0;
    }
.banner-background{
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    text-align: center;
    justify-items: center;
}
.banner{
    padding-top:130px;
   color: white;
    font-family: Merriweather;
    font-size: 36px;
   font-weight: 500;
}

.footer-part{
    background: #070211;
    height: 700px;
}
.footer-part-1{
   
    padding: 120px 80px 0 70px;
    display: flex;
    color: white;
    justify-content: space-between;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.footer-part-2{
    text-align: center;
    padding: 50px 100px;
}
.footer-part-3{
    padding: 10px 150px ;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}